{% extends "base.html" %}
{% block title %}Custom API Based Website{% endblock %}
{% block content %}

<!-- Header -->
<header id="header">
    <div class="content mb-3">
        <h1>Custom API Based Website</h1>
    </div>
</header>

<!-- One -->
<div class="container">
    <h2>Top Companies</h2>
    <section id="one" class="wrapper style2 special">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Exchange</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            {% for data_values in data %}
            <tr>
                <td>{{data_values['name']}}</td>
                <td><a href="{{ url_for('routes.view', symbol=data_values['symbol']) }}" target="_blank">{{data_values['symbol']}}</a>
                </td>
                <td>{{data_values['stock_exchange']['acronym']}}</td>
                <td>{{data_values['stock_exchange']['city']}}</td>
                <td>{{data_values['stock_exchange']['country_code']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}
