{% extends "base.html" %}
{% block title %}{{eod_data[0]["name"]}} Stocks{% endblock %}
{% block content %}

<div class="container">
    <h2>{{eod_data[0]["name"]}} - {{eod_data[0]["symbol"]}}</h2>
    <section id="one" class="wrapper style2 special">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Price currency</th>
                <th>Volume</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for data in eod_data %}
            <tr>
                <td>{{data['open']}}</td>
                <td>{{data['high']}}</td>
                <td>{{data['low']}}</td>
                <td>{{data['close']}}</td>
                <td>{{data['price_currency']}}</td>
                <td>{{data['volume']}}</td>
                <td>{{data['date'][:10]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}